<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <p>Enter a new shelter</p>
  <input type="text" name="shelter[name]" value="name"/><br/>
  <input type="text" name="shelter[address]" value="address"/><br/>
  <input type="text" name="shelter[city]" value="city"/><br/>
  <input type="text" name="shelter[state]" value="state"/><br/>
  <input type="text" name="shelter[zip]" value="zip"/><br/>
</form>
